* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
border: 0px;
}

body {
    background-image: url("./images/seabackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.bottleTitle {
    padding-top: 3%;
    padding-left: 33%;
    color:gold;
    display: flex;
font-style:normal;
font-weight:bold;}

.bottleImg {
    height: 120px;
    padding-right: 5%;
}

h1 {
font-size: 4rem;
}

section {
    display: flex;
    padding-left: 0%;
    padding-top: 7%;
    justify-content: space-evenly;
    align-items: center;
}

.initialButtons {
    padding: 25px 50px;
    background-color: rgb(42, 165, 118);
    color:rgb(29, 32, 231);
    font-size: 2rem;
    font-weight: bold;
    border-radius: 25%;
}

.signupDiv {
    font-family:sans-serif;
    font-weight: bold;
    width: 450px;
    height: 250px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap:wrap;
    background-color: aliceblue;
    z-index: 2;
    border: 2px;
    gap: 15px;
    padding: 30px 0px 0px 0px;
    position: absolute;
    left: 36%;
    top: 30%;
    border-radius: 3%;
}

.inputInitialDiv
{
    width: 300px;
}

.logButtons {
    padding: 2% 6%;
    background-color: rgb(162, 152, 223);
    font-family:sans-serif;
    font-weight: bold;
    color: rgb(168, 254, 81);
    border-radius: 5%;
}



.cratesDiv {
    background-color:rgb(218, 247, 237);
    width: 900px;
    height: 900px;
    position: absolute;
    left: 24%;
    top: 5%;
border-radius: 2%;
display: flex;
flex-direction: row;
flex-wrap:wrap;
justify-content:space-evenly;
align-items: center;
padding-bottom: 20px;
}

.crateConversation {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 3rem;
color: rgb(138, 57, 0);
font-weight: bold;
order: 1;


}

.userCrate {
    background-color: rgb(252, 236, 217);
    width: 790px;
    height: 650px;
    border-radius: 1%;
    position: relative;
    order: 2;
    text-align:center;
    border-color: black;

}



.userMessage {
    display: flex;
    padding: 10px 0px 0px 10px;

}



.resetPass {
    color: rgb(130, 56, 56);
}

.sendButton {
    padding: 20px 40px;
    order: 3;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: bold;
font-size: 1.5rem;
background-color: rgb(209, 226, 84);
color: rgb(0, 128, 255);
border-radius: 5%;
}
.editButton {
    padding: 20px 40px;
    order: 3;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    background-color: rgb(209, 226, 84);
    color: rgb(149, 0, 255);
    border-radius: 5%;
    
}

.hidden {
    display: none;
}